{% extends 'core/base.html' %}
    {% block title %} Portada {% endblock %}
    {% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
    {% block headers %}    
    <h1>Mauricio Bautista</h1>
    <span class="subheading">Ingeniero en Sistemas Computacionales</span>
    {% endblock %}
    {% block content %}
    
        <h2>Portada</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id mollis risus. Curabitur mi arcu, ornare id magna ac, malesuada 
            fermentum tortor. Duis tortor risus, vulputate eget ligula nec, maximus egestas quam. Fusce sapien libero, dignissim quis odio vitae, 
            volutpat fringilla massa. Fusce a suscipit augue. Donec eget quam a neque egestas ullamcorper. Nunc a tincidunt nunc. Interdum et 
            malesuada fames ac ante ipsum primis in faucibus. Nam a cursus turpis, et ornare nisl. Vestibulum sed dapibus nibh. Suspendisse 
            facilisis mi eu purus pharetra, eget semper metus consequat. Proin id lacus convallis, dapibus purus ut, auctor leo. Nullam vel 
            faucibus tellus.
            Nam id erat faucibus, porttitor tortor a, auctor sem. Vestibulum sed tortor sed mauris convallis facilisis at a dolor. Sed id 
            urna accumsan, ultrices enim a, tempor nibh. Fusce ut euismod nunc. Ut blandit elit ac dui malesuada, sed consequat leo scelerisque. Duis 
            ipsum mauris, tincidunt sed blandit suscipit, commodo vel felis. Fusce finibus tincidunt justo, sed pharetra dolor. Donec sit amet 
            efficitur quam. Pellentesque lobortis posuere fringilla. Mauris porta sed magna eget tincidunt. Quisque efficitur risus id leo 
            ullamcorper, tristique volutpat enim scelerisque. Duis aliquet leo enim. 
        </p>
    
    {% endblock %}
    
    
